*{margin: 0; padding: 0; box-sizing: border-box;

}

#home {background-image: url(galery/3.jpg); background-repeat: no-repeat; background-size: cover;
height: 1000px; background-attachment:scroll;}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

p{
    font-size: 16px;
    line-height: 20px;
}

a{text-decoration: none; 

}

.main-container{
    width: 1100px;
    margin: 0 auto;
}


.btn {padding:1rem 1.rem;
    background-color: brown; color: whitesmoke; border: 2px; border-radius: 3px; cursor: pointer;transition: 0.2s ease-in-out;
}

.btn-submit:hover{background-color: burlywood;}


/* title */
.pre-title { 
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color:black;
    position: relative; padding-left: 40px;
    width: fit-content ;
    font-weight: 400;font-size: 1rem;
}

.pre-title::before{content: "" ;
width:20px;
height: 1px ;
background : burlywood;position: absolute; left: 0; top: 50%;

}

/* logo dan navbar menu */
.nav{
    display: flex;
    justify-content:space-between;
    padding: 2rem 0;
    transition: 0.2s ease-in-out
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.logo{display: flex;
align-items: center;
font-weight: 700;
font-size: 1.5rem;
}

.logo a{  color: brown}

nav ul li a{color: brown; background-color: whitesmoke;}

/* home section */
#home {
    height: 410px;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
}

.home-name{font-size: 3rem;
font-weight: 400px; margin:0.5rem 0 1rem; color: brown;
}

#home img {width: 400px; border-radius:1rem;}

.home-left {display:grid;justify-content:center;}

section{padding-left: 3rem; padding-bottom: 5rem;} 

/* about section */
#about-me {padding: 6rem 0;background: whitesmoke;}

.section-title-about{text-align: center; margin:1rem 0 0.5rem; color: brown;}

/* layout */

.grid-3 {display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap:3rem;}


.about{padding: 3rem 2rem; text-align: center; background:brown ; border-radius: 0.7rem;}

.grid-3 h4 { color:antiquewhite; margin: 0.5rem 0;

}

.grid-3 p {color: whitesmoke;}

.about-icon {
    background-color: burlywood; width: fit-content; margin: 0; padding: 0.5rem 0.5rem;
    border-radius: 0.5rem; margin-left: 42%;
}

.grid-3 .main-container h4{text-align: center;}
/* end of about me */

/* skills and experience */
#skills {padding: 6rem 0;background:bisque;}

    .section-title-skills {text-align: center;
    margin: 1rem 0 4rem;}

.skills-grid {display: grid;
grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));}

.experience
{
    display: flex;
    gap: 2rem;
}

.experience line {padding :0 0.07rem;}

.experience .line div {
    width: 2px;
    height: 100%;
    background: #4f7942;
    position: relative;
}

.experience-info {
    margin: 0.03rem 0;
}

.experience-data {
    margin-bottom: 3rem;
}

.experience .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns:1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right {
    line-height: 2rem;
    padding: 0 1rem;
    margin-top: 3rem;
}

.skills-right h3{text-align: left; margin-left: 5.5rem;}

/* <!-- End Of Experience and Skills --> */

/* <!-- Contact --> */

#contact{padding:6rem 0;background: whitesmoke;}

form div { 
    margin-bottom: 1.4rem;
}

form input,form textarea {
    width: 100%; padding: 0.75rem 1.3rem; font-family: Arial, Helvetica, sans-serif;
    background: gainsboro; border: 1px solid whitesmoke;
    border-radius: 1px;
    resize: none;}

form input::placeholder,
form textarea::placeholder{
    color: black;
}

form input:focus, form textarea:focus {
    outline: none; border: 1px solid grey;
}

.btn-submit { align-items: center;
    width: 100%; padding: 0.7rem 1.3rem;
    background-color: gray; color: whitesmoke; border: 1px; border-radius: 3px; cursor: pointer;transition: 0.2s ease-in-out;
}

.btn-submit:hover{background-color: burlywood;}



/* end contact */

/* footer */

footer {margin-bottom: 4rem; background-color:white;
text-align:center;}

.footer-icons {margin-bottom: 1rem;}

.footer-icons a {margin: 0 0.5rem;}

.footer-icons a:hover {fill: black;}

.footer-icons{
    fill: grey;
}
